@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: white;
    color: black;
}

.custom-modal-backdrop .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
  }